<div class="footer">
    <div>
        &copy; 2022-Present. Beyond Me Btw created by <a href="https://beyondmebtw.com/about" style="color: inherit; font-weight: bold;" target="_blank">Pranav Veeraghanta.</a>
    </div>
</div>
