<div class="header-container">
    <h1 class="page-title">
        <span class="minis">MINIS</span>
        <span class="by">by</span>
        <span class="brand"><a href="https://beyondmebtw.com">Beyond Me Btw</a></span>
    </h1>
</div>
