<div class="header-container">
    <h1 class="page-title">
        <a href="https://minis.beyondmebtw.com" class="minis">MINIS</a>
        <span class="by">by</span>
        <span class="brand"><a href="https://beyondmebtw.com">Beyond Me Btw</a></span>
    </h1>
</div>
